// Colors
$color-white: #fff;
$color-navy: #023b57;
$color-plaster: #ecf3f7;
$color-magenta: #ed4b7e;
$color-turquoise: #42c1d1;
$color-slate: #3c6174;
$color-midnight: #012638;
$color-cornflower: #a4cfea;